{
"extends": "airbnb",
"rules": {
     "no-console": 0,
     "arrow-body-style": ["error", "always"],
     "indent": ["error", "tab"],
     "new-cap": ["error", { "properties": false }],
     "no-param-reassign": ["error", { "props": false }],
},
"env": {
 "browser": true,
 "node": true,
 "es6": true,
 "jquery": true,
 "mocha": true,
},
"globals": {},
}
